# Local server port
PORT=3000

# Cloudinary Integration (Optional)
# If provided, all uploaded images will go to your free cloud storage.
# Get these from your Cloudinary dashboard: https://cloudinary.com/
CLOUDINARY_URL=cloudinary://346845362272527:km_QCyjaFWNoWULY3XsXsDZ8l6o@dfq5ip4xt